<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restarent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaRent">
        <activity
            android:name=".Orders"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".RestList"
            android:exported="false" />
        <activity
            android:name=".ListRest_Activity"
            android:exported="false"
            android:label="@string/title_activity_list_rest"
            android:theme="@style/Theme.RestaRent.NoActionBar" />
        <activity
            android:name=".GuestActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_Reg"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>